<html><head></head><body>
<div id="herogear">
	{% for hero in heroes %}
		<h2><a name="{{hero.id}}">{{ hero.name }}</a></h2>
		{% for rarity in hero.rarities.all %}
			<div class="rarity">
				<h3 class="color{{ rarity.color }}">{{ rarity }}</h3>
				<ul>
					<li class="color{{ rarity.gear1.color }}"><label><input type="checkbox" id="{{hero.name}}{{rarity}}_1" onchange="calculate_gear();" /> {{ rarity.gear1 }}</label></li>
					<li class="color{{ rarity.gear2.color }}"><label><input type="checkbox" id="{{hero.name}}{{rarity}}_2" onchange="calculate_gear();" /> {{ rarity.gear2 }}</label></li>
					<li class="color{{ rarity.gear3.color }}"><label><input type="checkbox" id="{{hero.name}}{{rarity}}_3" onchange="calculate_gear();" /> {{ rarity.gear3 }}</label></li>
					<li class="color{{ rarity.gear4.color }}"><label><input type="checkbox" id="{{hero.name}}{{rarity}}_4" onchange="calculate_gear();" /> {{ rarity.gear4 }}</label></li>
					<li class="color{{ rarity.gear5.color }}"><label><input type="checkbox" id="{{hero.name}}{{rarity}}_5" onchange="calculate_gear();" /> {{ rarity.gear5 }}</label></li>
					<li class="color{{ rarity.gear6.color }}"><label><input type="checkbox" id="{{hero.name}}{{rarity}}_6" onchange="calculate_gear();" /> {{ rarity.gear6 }}</label></li>
				</ul>
			</div>
		{% endfor %}
	{% endfor %}
</div>
	
{{ items }} <br />
</body></html>
